/* {
    outline: 1px solid red;
}*/

#buttons {
  margin: 20px 20px;
}

#grid_one {
  margin: 50px 5%;
  width: 90%;
}

#grid_two {
  margin: 50px 5%;
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
}

#grid_one img {
  display: block;
  margin: auto;
  width: 50%;
}

#grid_two img {
  display: block;
  margin: auto;
  width: 70%;
}

#coffee_2, #pie_2 {
  display: none;
}

body {
height: 100%;
background-image: url("../images/triangle1.png"), url("../images/triangle2.png"), url("../images/paper.jpg");
background-repeat: no-repeat;
background-size: 50%, 50%, 100%;
background-position: left top, right bottom;
}
