* {
    outline: 1px solid red;
}

/* page */

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-image: url("../images/triangle1.png"),   url("../images/triangle2.png"), url("../images/paper.jpg");
  background-repeat: no-repeat;
  background-size: 50%, 50%, 100%;
  background-position: left top, right bottom;
}

#second_page {
  display: none;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

/* text */

.title {
  font-family: AmericanTypewriter;
  font-size: 36px;
  color: #448002;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
  text-align: center;
  margin: 1% auto 3% auto;
}

#quote {
  font-family: AmericanTypewriter-Semibold;
  font-size: 20px;
  color: #3A3836;
  position: absolute;
  margin: 0;
  text-align: center;
  max-width: 90%;
}

#quote_1, #quote_2 {
  font-family: AmericanTypewriter-Semibold;
  font-size: 16px;
  color: #3A3836;
  position: absolute;
  margin: 0;
  text-align: center;
  max-width: 20%;
}

.logo {
  width: 20%;
  display: block;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
}

.logo2 {
  width: 8%;
  margin-top: 1.5%;
  margin-left: 1.5%;
  vertical-align: middle;
}

/* buttons */

#switch1 {
  display: inline-block;
  vertical-align: top;
  width: 6%;
  margin-left: 92%;
  margin-top: 1%;
}

#switch2 {
  display: inline-block;
  vertical-align: top;
  width: 6%;
  margin-left: 1%;
  margin-top: 1%;
}

#switch1 img {
  display: block;
  width: 100%;
  padding: 10% 0%;
}

#switch2 img {
  display: block;
  width: 100%;
  padding: 10% 0%;
}

#buttons1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons2 {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-left: 61%;
  margin-top: 1%;
}

#buttons1 img {
  width: 7%;
  padding-left: 5%;
  padding-right: 5%;
}

#buttons2 img {
  width: 24%;
  padding-left: 12%;
  padding-right: 12%;
}

#coffee_2, #pie_2 {
  display: none;
}

/* grids/flexboxes */

#grid_one {
  display: none;
  margin: 0% 0% 0% 5%;
  width: 80%;
  grid-template-columns: 4fr 3fr;
}

#mono_quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60%;
}

#grid_two {
  display: none;
  width: 90%;
  height: 90vh;
  position: fixed;
  top: 5%;
  z-index: -1;
}

#stereo_1, #stereo_2 {
  width: 50%;
  height: 70%;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-items: center;
}

#stereo_1 {
  align-self: flex-end;
}

#stereo_2 {
  align-self: flex-start;
}

#torn_sheet_1, #torn_sheet_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#torn_sheet_1 {
  grid-area: 3/1/3/3;
}

#torn_sheet_2 {
  grid-area: 2/2/3/4;
}

/* character and quote sheet images */

#image {
  display: block;
  margin: auto;
  height: 700px;
}

#sheet {
  width: 100%;
  position: absolute;
}

#image_1, #image_2 {
  display: block;
  height: 100%;
}

#character_1 {
  grid-area: 1/2/4/3;
}

#character_2 {
  grid-area: 1/1/4/3;
}

#sheet_1, #sheet_2 {
  display: block;
  flex-basis: 100px;
  max-height: 100px;
}
