/* {
    outline: 1px solid red;
}*/

/* page */

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-image: url("../images/triangle1.png"),   url("../images/triangle2.png"), url("../images/paper.jpg");
  background-repeat: no-repeat;
  background-size: 50%, 50%, 100%;
  background-position: left top, right bottom;
}

#first_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

#second_page {
  display: none;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

/* text */

.title {
  font-family: AmericanTypewriter;
  font-size: 36px;
  color: #448002;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
  text-align: center;

}

#quote {
  font-family: AmericanTypewriter-Semibold;
  font-size: 20px;
  color: #3A3836;
  position: absolute;
  margin: 0;
  text-align: center;
  max-width: 90%;
}

#quote_1, #quote_2 {
  font-family: AmericanTypewriter-Semibold;
  font-size: 16px;
  color: #3A3836;
  position: absolute;
  margin: 0;
  text-align: center;
  max-width: 50%;
}

#buttons1 p {
  font-family: AmericanTypewriter;
  font-size: 18px;
  color: #241F19;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
  margin-top: 25%;
  margin-bottom: 0;
  margin-right: 5%;
}


.logo {
  max-width: 20%;
  min-width: 225px;
}

.logo2 {
  width: 8%;
  margin-top: 1.5%;
  margin-left: 1.5%;
  vertical-align: middle;
}

/* buttons */


#switch2 {
  display: inline-block;
  vertical-align: top;
  width: 6%;
  margin-left: 1%;
  margin-top: 1%;
}

#mono_button1 {
  position: fixed;
  width: 6%;
  min-width: 79px;
  top: 3%;
  right: 2%;
}

#stereo_button1 {
  position: fixed;
  width: 6%;
  min-width: 79px;
  top: 8%;
  right: 2%;
}

#mono_button1:active {
  top: 3.1%;
  right: 1.9%;
}

#stereo_button1:active {
  top: 8.1%;
  right: 1.9%;
}

#switch2 img {
  display: block;
  width: 100%;
  padding: 10% 0%;
}

#buttons1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

#buttons2 {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-left: 61%;
  margin-top: 1%;
}

#buttons1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

#buttons1 img:active {
  position: relative;
  top: 2%;
  left: 2%;
}

#buttons2 img {
  width: 24%;
  padding-left: 12%;
  padding-right: 12%;
}

#coffee_2, #pie_2 {
  display: none;
}

/* grids/flexboxes */

#grid_one {
  display: none;
  width: 90%;
  height: 90vh;
  position: fixed;
  top: 10%;
  z-index: -1;
  grid-template-columns: 4fr 3fr;
}

#mono_quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60%;
}

#grid_two {
  display: none;
  width: 90%;
  height: 90vh;
  position: fixed;
  top: 5%;
  z-index: -1;
}

#stereo_1, #stereo_2 {
  width: 49%;
  height: 70%;
  display: inline-grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-items: center;
}

#stereo_1 {
position: absolute;
bottom: 0px;
}

#stereo_2 {
  position: absolute;
  top: 0px;
  right: 0px;
}

#torn_sheet_1, #torn_sheet_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#torn_sheet_1 {
  grid-area: 3/1/span 1/ span 2;
}

#torn_sheet_2 {
  grid-area: 3/2/spna 1/span 2;
}

/* character and quote sheet images */

#image {
  display: block;
  margin: auto;
  height: 700px;
}

#sheet {
  width: 100%;
  position: absolute;
}

#image_1, #image_2 {
  display: block;
  height: 100%;
}

#character_1 {
  grid-area: 1/2/span 3/ span 2;
}

#character_2 {
  grid-area: 1/1/span 3/ span 2;
}

#sheet_1, #sheet_2 {
  display: block;
  flex-basis: 100px;
  max-height: 100px;
}

@media only screen and (max-width: 700px) {
  body {
    background-size: 70%, 70%, 1000px;
  }

  .title {
    font-size: 28px;
  }

  #buttons1 div {
    margin: 0 8%;
  }

  #buttons1 img {
    width: 90%;
  }

  #buttons1 p {

  }

}
