/* {
    outline: 1px solid red;
}*/

#second_page {
  display: none;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

/* text */

.title {
font-family: AmericanTypewriter;
font-size: 36px;
color: #448002;
text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
text-align: center;
margin: 1% auto 3% auto;
}

.logo {
  width: 20%;
  display: block;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
}

.logo2 {
  width: 8%;
  margin-top: 1.5%;
  margin-left: 1.5%;
  vertical-align: middle;
}

#quote {
  text-align: center;
  font-family: AmericanTypewriter-Semibold;
  font-size: 20px;
  color: #3A3836;
  margin-top: 56%;
  padding: 0% 5%;
}

#switch1 {
  display: inline-block;
  vertical-align: top;
  width: 6%;
  margin-left: 92%;
  margin-top: 1%;
}

#switch2 {
  display: inline-block;
  vertical-align: top;
  width: 6%;
  margin-left: 1%;
  margin-top: 1%;
}

#switch1 img {
  display: block;
  width: 100%;
  padding: 10% 0%;
}

#switch2 img {
  display: block;
  width: 100%;
  padding: 10% 0%;
}

#buttons1 {
  text-align: center;
}

#buttons2 {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-left: 61%;
  margin-top: 1%;
}

#buttons1 img {
  width: 7%;
  padding-left: 5%;
  padding-right: 5%;
}

#buttons2 img {
  width: 24%;
  padding-left: 12%;
  padding-right: 12%;
}

#grid_one {
  display: none;
  margin: 0% 0% 0% 5%;
  width: 80%;
  grid-template-columns: 4fr 3fr;
}

#grid_two {
  display: none;
  margin: 1% 5%;
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
}

#grid_one img {
  display: block;
  margin: auto;
  max-height: 700px;
}

#grid_two img {
  display: block;
  margin: auto;
  height: 400px;
}

#mono_quote {
  background-image: url("../images/torn sheet small.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 40%;
}

#coffee_2, #pie_2 {
  display: none;
}

html {
  min-height: 100%;
}

body {
min-height: 100%;
background-image: url("../images/triangle1.png"), url("../images/triangle2.png"), url("../images/paper.jpg");
background-repeat: no-repeat;
background-size: 50%, 50%, 100%;
background-position: left top, right bottom;
}
