/* {
    outline: 1px solid red;
}*/

/* page */

@font-face {
    font-family: AmericanTypewriter;
    src: url("../fonts/American Typewriter Regular.ttf")
}

html {
  min-height: 100%;
  overflow: hidden;
}

body {
  min-height: 100%;
  background-image: url("../images/triangle1.png"),   url("../images/triangle2.png"), url("../images/paper.jpg");
  background-repeat: no-repeat;
  background-size: 50%, 50%, 100%;
  background-position: left top, right bottom;
  overflow: hidden;
}

.landscape {
  display: none;
}

#first_page {
  position: absolute;
  height: 50vh;
  width: 70vw;
  min-height: 30rem;
  max-height: 40rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#second_page {
  display: none;
}

/* text */

.title {
  font-family: AmericanTypewriter;
  font-size: 36px;
  color: #448002;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
  text-align: center;
  position: absolute;
  margin: 0 -50% 0 0;
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
}

#quote {
  font-family: AmericanTypewriter;
  font-size: 20px;
  color: #3A3836;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -40% 0 0;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

#quote_1, #quote_2 {
  font-family: AmericanTypewriter;
  font-size: 16px;
  color: #3A3836;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  max-width: 26vw;
}

#buttons1 p {
  font-family: AmericanTypewriter;
  font-size: 18px;
  color: #241F19;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
  margin-bottom: 0;
  position: absolute;
}

.button_name_1 {
  bottom: 6%;
  left: 50%;
  transform: translateX(-330%);
}

.button_name_2 {
  bottom: 6%;
  right: 50%;
  transform: translateX(+445%);
}

.logo {
  width: 17rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo2 {
  position: absolute;
  width: 7rem;
  top: 2rem;
  left: 1rem;
}

/* buttons */

#mono_button {
  position: fixed;
  width: 5.5rem;
  top: 2rem;
  right: 2rem;
}

#stereo_button {
  position: fixed;
  width: 5.5rem;
  top: 4.5rem;
  right: 2rem;
}

#mono_button:active {
  top: 2.1rem;
  right: 1.9rem;
}

#stereo_button:active {
  top: 4.6rem;
  right: 1.9rem;
}


#coffee_1, #coffee_2 {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-200%);
}

#pie_1, #pie_2 {
  position: absolute;
  bottom: 15%;
  right: 50%;
  transform: translateX(+200%);
}

#coffee_1:active, #coffee_2:active {
  bottom: 14.5%;
  left: 50.5%;
}

#pie_1:active, #pie_2:active {
  bottom: 14.5%;
  right: 49.5%;
}

#coffee_3, #coffee_4 {
  position: fixed;
  top: 2rem;
  right: 14rem;
  width: 4.5rem;
}

#pie_3, #pie_4 {
  position: fixed;
  top: 2rem;
  right: 8.5rem;
  width: 4.5rem;
}

#coffee_3:active, #coffee_4:active {
  top: 2.1rem;
  right: 13.9rem;
}

#pie_3:active, #pie_4:active {
  top: 2.1rem;
  right: 8.4rem;
}

#coffee_2, #pie_2 {
  display: none;
}

#social {
  display: none;
}

#facebook, #twitter {
  position: fixed;
  width: 2rem;
}

#facebook {
  right: 5.5rem;
  bottom: 3rem;
}

#twitter {
  right: 2rem;
  bottom: 3rem;
}

/* containers/grids/flexboxes */

#grid_one {
  display: none;
  z-index: -1;
}

#mono_image {
  position: absolute;
  width: 50vw;
  height: 90vh;
  top: 5vh;
  right: 45vw;
}

#mono_quote {
  position: absolute;
  top: 30vh;
  left: 53vw;
}

#grid_two {
  display: none;
  z-index: -1;
}

#stereo_1, #stereo_2 {
  width: 45vw;
  height: 65vh;
}

#stereo_1 {
position: absolute;
bottom: 0px;
}

#stereo_2 {
  position: absolute;
  top: 0px;
  right: 0px;
}

#torn_sheet_1, #torn_sheet_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#torn_sheet_1 {
  grid-area: 3/1/span 1/ span 2;
}

#torn_sheet_2 {
  grid-area: 3/2/spna 1/span 2;
}

/* character and quote sheet images */

#image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 50vw;
  min-height: 38rem;
}

#sheet {
  width: 36vw;
  min-width: 28rem;
  display: block;
}

#image_1, #image_2 {
  display: block;
  max-height: 65vh;
  margin: 0 auto;
}

#character_1 {
  grid-area: 1/2/span 3/ span 2;
}

#character_2 {
  grid-area: 1/1/span 3/ span 2;
}

#sheet_1, #sheet_2 {
  display: block;
  width: 30vw;
}

/*

---------------->    MOBILE I - portrait  <----------------

*/

@media only screen and (max-width: 500px) {
  body {
    min-height: 100%;
    background-image: url("../images/rectangle1.png"),   url("../images/rectangle2.png"), url("../images/paper.jpg");
    background-repeat: no-repeat;
    background-size: auto, auto, auto 150%;
    background-position: top, bottom;
  }

  #first_page {
    position: absolute;
    height: 19rem;
    width: 90vw;
    min-height: auto;
    max-height: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
  }

  .wrapper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  /* logo */

  .logo {
    width: 10rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo2 {
    position: absolute;
    width: 23vw;
    max-width: 5.5rem;
    min-width: 5rem;
    top: 1rem;
    left: 3vw;
  }

  /* text */

  .title {
    font-family: AmericanTypewriter;
    font-size: 22px;
    color: #448002;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
    text-align: center;
    position: absolute;
    margin: 0 -50% 0 0;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
  }

  #buttons1 p {
    font-family: AmericanTypewriter;
    font-size: 16px;
    color: #241F19;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
    margin-bottom: 0;
    position: absolute;
  }

  .button_name_1 {
    bottom: 5%;
    left: 50%;
    transform: translateX(-210%);
  }

  .button_name_2 {
    bottom: 5%;
    right: 50%;
    transform: translateX(+255%);
  }

  #quote {
    font-family: AmericanTypewriter;
    font-size: 18px;
    color: #3A3836;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -20% 0 0;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }

  /* buttons */

  #mono_button {
    position: fixed;
    max-width: 5.5rem;
    min-width: 4.5rem;
    width: 20vw;
    top: 1rem;
    right: 1rem;
  }

  #stereo_button {
    position: fixed;
    max-width: 5.5rem;
    min-width: 4.5rem;
    width: 20vw;
    top: 3.5rem;
    right: 1rem;
  }

  #mono_button:active {
    top: 1.1rem;
    right: 0.9rem;
  }

  #stereo_button:active {
    top: 3.6rem;
    right: 0.9rem;
  }

  #coffee_1, #coffee_2 {
    position: absolute;
    width: 4rem;
    bottom: 15%;
    left: 50%;
    transform: translateX(-150%);
  }

  #pie_1, #pie_2 {
    position: absolute;
    width: 4rem;
    bottom: 15%;
    right: 50%;
    transform: translateX(+150%);
  }

  #coffee_1:active, #coffee_2:active {
    bottom: 14.5%;
    left: 50.5%;
  }

  #pie_1:active, #pie_2:active {
    bottom: 14.5%;
    right: 49.5%;
  }

  #buttons2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  #coffee_3, #coffee_4 {
    position: absolute;
    top: 1rem;
    right: auto;
    left: 50%;
    transform: translateX(-105%);
    max-width: 4.5rem;
    min-width: 4rem;
    width: 18vw;
  }

  #pie_3, #pie_4 {
    position: absolute;
    top: 1rem;
    right: 50%;
    transform: translateX(+105%);
    max-width: 4.5rem;
    min-width: 4rem;
    width: 18vw;
  }

  #coffee_3:active, #coffee_4:active {
    top: 1.1rem;
    right: none;
    left: 51%;
  }

  #pie_3:active, #pie_4:active {
    top: 1.1rem;
    right: 49%;
  }

  #facebook, #twitter {
    position: fixed;
    width: 2rem;
  }

  #facebook {
    right: 4rem;
    bottom: 1rem;
  }

  #twitter {
    right: 1rem;
    bottom: 1rem;
  }

  /* mono mode */

  #grid_one {
    position: absolute;
    width: 100vw;
    height: 90vw;
    top: 43%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  #mono_image {
    position: absolute;
    width: 100vw;
    height: 90vw;
    top: 50%;
    right: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }

  #mono_quote {
    position: absolute;
    top: initial;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(+50%);
  }

  #image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 90vw;
    min-height: auto;
  }

  #sheet {
   width: 120vw;
   min-width: auto;
   display: block;
  }

}

/*

---------------->    MOBILE II  <----------------

*/

@media only screen and (max-width: 767px) and (min-width: 501px) {
  body {
    min-height: 100%;
    background-image: url("../images/triangle1.png"),   url("../images/triangle2.png"), url("../images/paper.jpg");
    background-repeat: no-repeat;
    background-size: 65%, 65%, auto 300%;
    background-position: left top, right bottom;
  }

  #first_page {
    position: absolute;
    height: 25rem;
    width: 90vw;
    min-height: auto;
    max-height: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  /* logo */

  .logo {
    width: 14rem;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo2 {
    position: absolute;
    max-width: 7rem;
    min-width: 5.5rem;
    width: 15vw;
    top: 1rem;
    left: 1rem;
  }

  /* text */

  .title {
    font-family: AmericanTypewriter;
    font-size: 29px;
    color: #448002;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
    text-align: center;
    position: absolute;
    margin: 0 -50% 0 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .button_name_1 {
    bottom: 6%;
    left: 50%;
    transform: translateX(-260%);
  }

  .button_name_2 {
    bottom: 6%;
    right: 50%;
    transform: translateX(+325%);
  }

  /* buttons */

  #mono_button {
    position: fixed;
    width: 5.5rem;
    top: 1rem;
    right: 1rem;
  }

  #stereo_button {
    position: fixed;
    width: 5.5rem;
    top: 3.5rem;
    right: 1rem;
  }

  #mono_button:active {
    top: 1.1rem;
    right: 0.9rem;
  }

  #stereo_button:active {
    top: 3.6rem;
    right: 0.9rem;
  }

  #coffee_1, #coffee_2 {
    position: absolute;
    width: 5rem;
    bottom: 15%;
    left: 50%;
    transform: translateX(-170%);
  }

  #pie_1, #pie_2 {
    position: absolute;
    width: 5rem;
    bottom: 15%;
    right: 50%;
    transform: translateX(+170%);
  }

  #coffee_1:active, #coffee_2:active {
    bottom: 14.5%;
    left: 50.5%;
  }

  #pie_1:active, #pie_2:active {
    bottom: 14.5%;
    right: 49.5%;
  }

  #coffee_3, #coffee_4 {
    position: fixed;
    top: 6rem;
    right: 1rem;
  }

  #pie_3, #pie_4 {
    position: fixed;
    top: 11rem;
    right: 1rem;
  }

  #coffee_3:active, #coffee_4:active {
    top: 6.1rem;
    right: 0.9rem;
  }

  #pie_3:active, #pie_4:active {
    top: 11.1rem;
    right: 0.9rem;
  }

  #facebook {
    right: 4.5rem;
    bottom: 3rem;
  }

  #twitter {
    right: 1rem;
    bottom: 3rem;
  }

  /* mono mode */

  #grid_one {
    position: absolute;
    width: 70vw;
    height: 60vh;
    top: 47%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  #mono_image {
    position: absolute;
    width: 100vw;
    height: 60vh;
    top: 50%;
    right: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }

  #mono_quote {
    position: absolute;
    top: initial;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(+50%);
  }

  #image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 60vh;
    min-height: auto;
  }

  #sheet {
   width: 50vw;
   min-width: 30rem;
   display: block;
  }

}

/*

---------------->    TABLET   <----------------

*/

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  body {
    background-size: 65%, 65%, 100%;
  }

  #first_page {
    position: absolute;
    height: 25rem;
    width: 70vw;
    min-height: auto;
    max-height: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .logo {
    width: 14rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  /* text */

  .title {
    font-family: AmericanTypewriter;
    font-size: 32px;
    color: #448002;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
    text-align: center;
    position: absolute;
    margin: 0 -50% 0 0;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
  }

  .button_name_1 {
    bottom: 6%;
    left: 50%;
    transform: translateX(-260%);
  }

  .button_name_2 {
    bottom: 6%;
    right: 50%;
    transform: translateX(+325%);
  }

  /* buttons */

  #coffee_1, #coffee_2 {
    position: absolute;
    width: 5rem;
    bottom: 15%;
    left: 50%;
    transform: translateX(-170%);
  }

  #pie_1, #pie_2 {
    position: absolute;
    width: 5rem;
    bottom: 15%;
    right: 50%;
    transform: translateX(+170%);
  }

  #coffee_1:active, #coffee_2:active {
    bottom: 14.5%;
    left: 50.5%;
  }

  #pie_1:active, #pie_2:active {
    bottom: 14.5%;
    right: 49.5%;
  }

  #coffee_3, #coffee_4 {
    position: fixed;
    top: 7rem;
    right: 2rem;
  }

  #pie_3, #pie_4 {
    position: fixed;
    top: 12rem;
    right: 2rem;
  }

  #coffee_3:active, #coffee_4:active {
    top: 7.1rem;
    right: 1.9rem;
  }

  #pie_3:active, #pie_4:active {
    top: 12.1rem;
    right: 1.9rem;
  }

  /* mono mode */

  #grid_one {
    position: absolute;
    width: 70vw;
    height: 60vh;
    top: 47%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  #mono_image {
    position: absolute;
    width: 100vw;
    height: 60vh;
    top: 50%;
    right: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }

  #mono_quote {
    position: absolute;
    top: initial;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(+50%);
  }

  #image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 60vh;
    min-height: auto;
  }

  #sheet {
   width: 50vw;
   min-width: 35rem;
   display: block;
  }

  /* stereo mode */

  #stereo_1, #stereo_2 {
    width: 45vw;
    height: 60vh;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }

  #image_1, #image_2 {
    max-height: 60vh;
    z-index: -1;
  }

  #sheet_1, #sheet_2 {
    width: 35vw;
  }

  #torn_sheet_1 {
    grid-area: 3/1/span 1/ span 2;
  }

  #torn_sheet_2 {
    grid-area: 3/1/spna 1/span 2;
  }

  #quote_1, #quote_2 {
    font-family: AmericanTypewriter;
    font-size: 14px;
    color: #3A3836;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    max-width: 26vw;
  }

  #character_1 {
    grid-area: 1/1/span 3/ span 2;
  }

  #character_2 {
    grid-area: 1/1/span 3/ span 2;
  }

}

/*

---------------->    MOBILE - landscape  <----------------

*/

@media only screen and (max-height: 500px) and (orientation: landscape) {
  body {
    min-height: 100%;
    background-image: url("../images/paper.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left top, right bottom;
  }
  .wrapper {
    display: none;
  }

  .landscape {
    display: inline;
    position: absolute;
    width: 90vw;
    height: 15rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .logo_ls {
    min-width: 11rem;
    max-width: 15rem;
    width: 34vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .instruct {
    font-family: AmericanTypewriter;
    font-size: 2rem;
    color: #448002;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
    text-align: center;
    position: absolute;
    margin: 0 -50% 0 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
