* {
    outline: 1px solid red;
}

/* page */

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-image: url("../images/triangle1.png"),   url("../images/triangle2.png"), url("../images/paper.jpg");
  background-repeat: no-repeat;
  background-size: 50%, 50%, 100%;
  background-position: left top, right bottom;
}

#first_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

#second_page {
  display: none;
}

/* text */

.title {
  font-family: AmericanTypewriter;
  font-size: 36px;
  color: #448002;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
  text-align: center;

}

#quote {
  font-family: AmericanTypewriter-Semibold;
  font-size: 20px;
  color: #3A3836;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  margin: 0 auto;
}

#quote_1, #quote_2 {
  font-family: AmericanTypewriter-Semibold;
  font-size: 16px;
  color: #3A3836;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  max-width: 26vw;
}

#buttons1 p {
  font-family: AmericanTypewriter;
  font-size: 18px;
  color: #241F19;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
  margin-top: 3vh;
  margin-bottom: 0;
  margin-right: 0.5vw;
}

.logo {
  max-width: 20vw;
}

.logo2 {
  position: absolute;
  width: 7rem;
  margin-top: 2rem;
  margin-left: 1rem;
}

/* buttons */

#mono_button {
  position: fixed;
  width: 5.5rem;
  top: 2rem;
  right: 2rem;
}

#stereo_button {
  position: fixed;
  width: 5.5rem;
  top: 4.5rem;
  right: 2rem;
}

#mono_button:active {
  top: 2.1rem;
  right: 1.9rem;
}

#stereo_button:active {
  top: 4.6rem;
  right: 1.9rem;
}

#buttons1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

#buttons1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

#buttons1 img:active {
  position: relative;
  top: 2%;
  left: 2%;
}

#coffee_3, #coffee_4 {
  position: fixed;
  top: 2rem;
  right: 14rem;
  width: 4.5rem;
}

#pie_3, #pie_4 {
  position: fixed;
  top: 2rem;
  right: 8.5rem;
  width: 4.5rem;
}

#coffee_3:active, #coffee_4:active {
  top: 2.1rem;
  right: 13.9rem;
}

#pie_3:active, #pie_4:active {
  top: 2.1rem;
  right: 8.4rem;
}

#coffee_2, #pie_2 {
  display: none;
}

/* grids/flexboxes */

#grid_one {
  display: none;
  z-index: -1;
}

#mono_quote {
  position: absolute;
  top: 30%;
  right: 15%;
}

#grid_two {
  display: none;
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 5%;
  z-index: -1;
}

#stereo_1, #stereo_2 {
  width: 45vw;
  height: 65vh;
  display: inline-grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#stereo_1 {
position: absolute;
bottom: 0px;
}

#stereo_2 {
  position: absolute;
  top: 0px;
  right: 0px;
}

#torn_sheet_1, #torn_sheet_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#torn_sheet_1 {
  grid-area: 3/1/span 1/ span 2;
}

#torn_sheet_2 {
  grid-area: 3/2/spna 1/span 2;
}

/* character and quote sheet images */

#image {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-45%);
  max-height: 50vw;
}

#sheet {
  width: 35vw;
  display: block;
}

#image_1, #image_2 {
  display: block;
  max-height: 65vh;
  margin: 0 auto;
}

#character_1 {
  grid-area: 1/2/span 3/ span 2;
}

#character_2 {
  grid-area: 1/1/span 3/ span 2;
}

#sheet_1, #sheet_2 {
  display: block;
  width: 30vw;
}

@media only screen and (max-width: 768px) {
  body {
    background-size: 70%, 70%, 1000px;
  }

  .title {
    font-size: 28px;
  }

  #buttons1 div {
    margin: 0 8%;
  }

  #buttons1 img {
    width: 90%;
  }

}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  body {
    background-size: 60%, 60%, 100%;
  }

  .title {
    font-size: 32px;
  }

  #buttons1 div {
    margin: 0 8%;
  }

  #buttons1 img {
    width: 90%;
  }

  #coffee_3, #coffee_4 {
    position: fixed;
    top: 7rem;
    right: 2rem;
  }

  #pie_3, #pie_4 {
    position: fixed;
    top: 12rem;
    right: 2rem;
  }

  #coffee_3:active, #coffee_4:active {
    top: 7.1rem;
    right: 1.9rem;
  }

  #pie_3:active, #pie_4:active {
    top: 12.1rem;
    right: 1.9rem;
  }

  #stereo_1, #stereo_2 {
    width: 45vw;
    height: 60vh;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }

#image {
  max-height: 65vw;

}

  #image_1, #image_2 {
    max-height: 60vh;
    z-index: -1;
  }

  #mono_quote {
    top: 40%;
    right: 2%;
  }

  #sheet {
    width: 50vw;
  }

  #sheet_1, #sheet_2 {
    width: 35vw;
  }

  #torn_sheet_1 {
    grid-area: 3/1/span 1/ span 2;
  }

  #torn_sheet_2 {
    grid-area: 3/1/spna 1/span 2;
  }

  #quote {
    font-size: 18px;
  }

  #quote_1, #quote_2 {
    font-family: AmericanTypewriter-Semibold;
    font-size: 14px;
    color: #3A3836;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    max-width: 26vw;
  }

  #character_1 {
    grid-area: 1/1/span 3/ span 2;
  }

  #character_2 {
    grid-area: 1/1/span 3/ span 2;
  }

}

@media only screen and (max-width: 992px) and (min-width: 768px) and (max-height: 500px) {
  body {
    background-size: 50%, 50%, 100%;
  }
}
