/* {
    outline: 1px solid red;
}*/

#second_page {
  display: none;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

/* text */

.title {
font-family: AmericanTypewriter;
font-size: 36px;
color: #448002;
text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
text-align: center;
margin: 1% auto 3% auto;
}

.logo {
  width: 20%;
  display: block;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
}

.logo2 {
  width: 8%;
  margin-top: 1.5%;
  margin-left: 1.5%;
  vertical-align: middle;
}

#switch1 {
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-left: 95%;
  margin-top: 1%;
}

#switch2 {
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-left: 1%;
  margin-top: 1%;
}

#switch1 button {
  display: block;
}

#switch2 button {
  display: block;
}

#buttons1 {
  text-align: center;
}

#buttons2 {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-left: 64%;
  margin-top: 1%;
}

#buttons1 img {
  width: 7%;
  padding-left: 5%;
  padding-right: 5%;
}

#buttons2 img {
  width: 24%;
  padding-left: 12%;
  padding-right: 12%;
}

#grid_one {
  margin: 50px 5%;
  width: 90%;
}

#grid_two {
  margin: 50px 5%;
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
}

#grid_one img {
  display: block;
  margin: auto;
  width: 50%;
}

#grid_two img {
  display: block;
  margin: auto;
  width: 70%;
}

#coffee_2, #pie_2 {
  display: none;
}

html {
  min-height: 100%;
}

body {
min-height: 100%;
background-image: url("../images/triangle1.png"), url("../images/triangle2.png"), url("../images/paper.jpg");
background-repeat: no-repeat;
background-size: 50%, 50%, 100%;
background-position: left top, right bottom;
}
